<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061734658150-d7fnttf3pcnpq56a7r3rjv401sdr64fs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061734658150-d7fnttf3pcnpq56a7r3rjv401sdr64fs</string>
	<key>API_KEY</key>
	<string>AIzaSyBKA12iciVXa5kXKUk4IF6qHRJgUe7wmqo</string>
	<key>GCM_SENDER_ID</key>
	<string>1061734658150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SardarSaqib.MillionLink</string>
	<key>PROJECT_ID</key>
	<string>millionlink-58010</string>
	<key>STORAGE_BUCKET</key>
	<string>millionlink-58010.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061734658150:ios:356c7d497e99eb0e6dfda7</string>
	<key>DATABASE_URL</key>
	<string>https://millionlink-58010.firebaseio.com</string>
</dict>
</plist>